<ul class="divelog">
  {{ $dataJ := getJSON "https://logbook.dives.dev/api/v1/divelog/" (.Get 0) }}

  {{ $basePressure := 1013 }}
  {{ if ne $dataJ.response.divelog.altitude nil }}
    {{ $basePressure := float $dataJ.response.divelog.altitude }}
  {{ end }}

  {{ $maxDepth := div ( add ( sub 0 (float $dataJ.response.divelog.max_pressure)) $basePressure ) 100 }}
  {{ $diveTimeMinutes := math.Floor (div $dataJ.response.divelog.dive_duration 60) }}
  {{ $diveTimeSeconds := mod $dataJ.response.divelog.dive_duration 60 }}
  {{ $pointName := $dataJ.response.divelog.poi.poi_name }}
  {{ $pointRegion := $dataJ.response.divelog.poi.poi_region }}
  {{ $diveDate := $dataJ.response.divelog.dive_datetime | int | dateFormat "2006/1/2 (Mon)" }}
  {{ $diveStartTime := $dataJ.response.divelog.dive_datetime | int | dateFormat "3:04 pm" }}
  {{ $airTemperature := $dataJ.response.divelog.air_temperature }}
  {{ $minTemperature := $dataJ.response.divelog.min_temperature }}
  {{ $avgDepth := $dataJ.response.divelog.average_depth }}

  <table>
    <tr>
      <th>Date</th>
      <td>{{ $diveDate }}</td>
    </tr>
    <tr>
      <th>Dive Point</th>
      <td>{{ $pointName }} ({{ $pointRegion }})</td>
    </tr>
    <tr>
      <th>Entry Time</th>
      <td>{{ $diveStartTime }}</td>
    </tr>
    <tr>
      <th>Dive Time</th>
      <td>{{ $diveTimeMinutes }}min {{ $diveTimeSeconds }}sec</td>
    </tr>
    <tr>
      <th>Max Depth</th>
      <td>{{ $maxDepth }}m</td>
    </tr>
    <tr>
      <th>Average Depth</th>
      <td>-{{ $avgDepth }}m</td>
    </tr>
    <tr>
      <th>Air Temperature</th>
      <td>{{ $airTemperature }}℃</td>
    </tr>
    <tr>
      <th>Water Temperature</th>
      <td>{{ $minTemperature }}℃</td>
    </tr>
  </table>
</ul>

<style>
  table {
    font-family: YuGothic,"游ゴシック",Arial,sans-serif;
    width: 100%;
    border-collapse: collapse;
  }

  table tr {
    border-bottom: solid 2px white;
  }

  table tr:last-child {
    border-bottom: none;
  }

  table th {
    position: relative;
    text-align: left;
    width: 35%;
    background-color: #52c2d0;
    color: white;
    text-align: center;
    padding: 10px 0;
  }

  table th:after {
    display: block;
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top:calc(50% - 10px);
    right:-10px;
    border-left: 10px solid #52c2d0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  table td {
    text-align: left;
    width: 70%;
    text-align: center;
    background-color: #eee;
    padding: 10px 0;
  }
</style>
