<ul class="temperature">
  {{ $dataJ := getJSON "https://logbook.dives.dev/api/v1/divelog/" (.Get 0) }}
  {{ $id := index (seq 999 | shuffle) 1 }}

  {{ $minTemperature := $dataJ.response.divelog.min_temperature }}
  {{ $airTemperature := $dataJ.response.divelog.air_temperature }}

  <div>
    <tr>
      <th><span class="label label-blue">Water</span></th>
      <td><span class="label"></span>{{ $minTemperature }} °C</span></td>
    </tr>
    <tr>
      <th><span class="label label-blue">Air</span></th>
      <td><span class="label">{{ $airTemperature }} °C</span></td>
    </tr>
  </div>

  <div style="width: 90%; height: auto; margin: 0 auto">
    <canvas id="{{ $id }}"></canvas>
  </div>
</ul>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<script type="text/javascript">
    var ctx = document.getElementById('{{ $id }}').getContext('2d');

    // Set X scale
    var labels = ["0:00"]
    for (const [key, value] of Object.entries({{ $dataJ.response.divelog.dive_profiles }})) {
      var minutes = Math.floor(value.profile_time / 60)
      var seconds = String(value.profile_time % 60).padStart(2, "0")
      labels.push(minutes + ":" + seconds)
    }

    // Set Y scale
    var temperature = [null]
    for (const [key, value] of Object.entries({{ $dataJ.response.divelog.dive_profiles }})) {
      temperature.push(parseFloat(value.temperature))
    }

    // Render Graph
    new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Temperature (°C)',
                data: temperature,
                fill: true,
                backgroundColor: '#f57c00AB',
                borderColor: '#f57c0000',
                borderWidth: 1,
                pointRadius: 0.1,
                pointHitRadius: 768
            }]
        },
        options: {
            plugins: {
                legend: {
                  display: false
                },
                tooltips: {
                    mode: 'nearest',
                },
            },
            scales: {
                y: {
                    suggestedMin: 10,
                    suggestedMax: 30,
                }
            }
        }
    });
</script>

