{{ $dataPaperJ := getJSON "https://dives.dev/paperlogs.json" }}
{{ $dataJ := getJSON "https://logbook.dives.dev/api/v1/divelogs?limit=1000" }}
{{ $length := len $dataJ.response.divelogs }}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

<script type="text/javascript">
$(function(){
  $('tr[data-href]').on('click', function(){
    location.href = $(this).data('href');
  });
});
</script>

<style type="text/css">
   body > main > article > table.divelogSummary > tbody > tr:hover {
     background: #eeeeee;
     color: #424242;
     cursor: pointer;
   }
</style>

<table class="divelogSummary">
  <thead>
    <tr>
      <th style="padding-left: 3px;">#</th>
      <th style="padding-left: 0px;">Date</th>
      <th style="padding-left: 0px; padding-right: 5px;">Region</th>
      <th style="padding-left: 0px;">Point</th>
      <th style="padding-left: 0px;">Dive Time</th>
      <th style="padding-left: 0px;">Max Depth</th>
    </tr>
  </thead>

  {{ range $i, $v := $dataJ.response.divelogs }}

  {{ $divelogNumber := add (sub $length $i) 49 }}
  {{ $diveTimeMinutes := math.Floor (div .dive_duration 60) }}
  {{ $diveTimeSeconds := mod .dive_duration 60 }}

  {{ $pointRegion := .poi.poi_region }}
  {{ if eq $pointRegion nil }}
    {{ $pointRegion = "N/A" }}
  {{ end }}

  {{ $pointName := .poi.poi_name }}
  {{ if eq $pointName nil }}
    {{ $pointName = "N/A" }}
  {{ end }}

  <!-- Complete non PADI points -->
  {{ if eq $divelogNumber 142 }}
    {{ $pointRegion = "浮島" }}
    {{ $pointName = "ノースエンド" }}
  {{ end }}
  {{ if eq $divelogNumber 143 }}
    {{ $pointRegion = "浮島" }}
    {{ $pointName = "ボッケ" }}
  {{ end }}
  {{ if eq $divelogNumber 144 }}
    {{ $pointRegion = "浮島" }}
    {{ $pointName = "メイン" }}
  {{ end }}
  {{ if eq $divelogNumber 145 }}
    {{ $pointRegion = "浮島" }}
    {{ $pointName = "ボッケ" }}
  {{ end }}
  {{ if eq $divelogNumber 146 }}
    {{ $pointRegion = "浮島" }}
    {{ $pointName = "ノースエンド" }}
  {{ end }}
  {{ if eq $divelogNumber 169 }}
    {{ $pointRegion = "八丈島" }}
    {{ $pointName = "カンナギ" }}
  {{ end }}
  {{ if eq $divelogNumber 171 }}
    {{ $pointRegion = "本島中部" }}
    {{ $pointName = "ウドゥイガマ" }}
  {{ end }}
  {{ if eq $divelogNumber 172 }}
    {{ $pointRegion = "本島中部" }}
    {{ $pointName = "ウドゥイガマ" }}
  {{ end }}
  {{ if eq $divelogNumber 177 }}
    {{ $pointName = "砂辺・No1" }}
  {{ end }}
  {{ if eq $divelogNumber 179 }}
    {{ $pointName = "砂辺・No1" }}
  {{ end }}
  {{ if eq $divelogNumber 183 }}
    {{ $pointRegion = "八丈島" }}
    {{ $pointName = "カンナギ" }}
  {{ end }}
  <!-- End of completion -->

  {{ $maxDepth := .max_depth }}
  {{ $diveDate := .dive_datetime | int | dateFormat "2006/1/2 (Mon)" }}

  <div>
    <tr data-href="https://dives.dev/blog/{{ $divelogNumber }}/">
      <td style="padding-left: 3px;">#{{ $divelogNumber }}</td>
      <td style="padding-left: 0px;">{{ $diveDate }}</td>
      <td style="padding-left: 0px;">{{ $pointRegion }}</td>
      <td style="padding-left: 0px;">{{ $pointName }}</td>
      <td style="padding-left: 0px;">{{ $diveTimeMinutes }}m{{ $diveTimeSeconds }}s</td>
      <td style="padding-left: 0px;">-{{ $maxDepth }}m</td>
    </tr>
  {{ end }}

  {{ range $i, $v := $dataPaperJ.response.divelogs }}

  {{ $divelogNumber := sub 49 $i }}
  {{ $diveTimeMinutes := math.Floor (div .dive_duration 60) }}
  {{ $diveTimeSeconds := mod .dive_duration 60 }}

  {{ $pointRegion := .poi.poi_region }}
  {{ if eq $pointRegion nil }}
    {{ $pointRegion = "N/A" }}
  {{ end }}

  {{ $pointName := .poi.poi_name }}
  {{ if eq $pointName nil }}
    {{ $pointName = "N/A" }}
  {{ end }}

  {{ $maxDepth := .max_depth }}
  {{ $diveDate := .dive_datetime | int | dateFormat "2006/1/2 (Mon)" }}

  <div>
    <tr>
      <td style="padding-left: 3px;">#{{ $divelogNumber }}</td>
      <td style="padding-left: 0px;">{{ $diveDate }}</td>
      <td style="padding-left: 0px;">{{ $pointRegion }}</td>
      <td style="padding-left: 0px;">{{ $pointName }}</td>
      <td style="padding-left: 0px;">{{ $diveTimeMinutes }}m{{ $diveTimeSeconds }}s</td>
      <td style="padding-left: 0px;">-{{ $maxDepth }}m</td>
    </tr>
  {{ end }}
  </div>
</table>
