{{ $dataJ := getJSON "https://logbook.dives.dev/api/v1/divelog/" (.Get 0) }}

{{ $latitude := $dataJ.response.divelog.poi.gps_location.latitude }}
{{ $longitude := $dataJ.response.divelog.poi.gps_location.longitude }}

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script type="text/javascript">

  // Attach your callback function to the `window` object
  window.initMap = function () {

    // Create a <script> tag and set the USGS URL as the source.
    const script = document.createElement("script");

    // Setup Map
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 16,
      center: { lat: {{ $latitude }}, lng: {{ $longitude }} },
      mapTypeId: google.maps.MapTypeId.HYBRID,
      disableDefaultUI: true,
      scaleControl: true,
      scaleControlOptions: {
        position: google.maps.ControlPosition.BOTTOM_LEFT
      },
    });

    // Put markers
    let marker = new google.maps.Marker({
      map: map,
      position: new google.maps.LatLng({{ $latitude }}, {{ $longitude }}),
      animation: google.maps.Animation.DROP,
    })
  };

  function createCircle() {
    return {
      path: google.maps.SymbolPath.CIRCLE,
      fillColor: "#F58220",
      fillOpacity: 1,
      scale: 12,
      strokeColor: "white",
      strokeWeight: 1,
    };
  }

  window.initMap = initMap;
</script>

<ul class="divesiteLocation">
  <tr>
    <div id="map" style="width:90%; height:300px; margin: 0 auto;"></div>
  </tr>
</ul>

<!--
 The `defer` attribute causes the callback to execute after the full HTML
 document has been parsed. For non-blocking uses, avoiding race conditions,
 and consistent behavior across browsers, consider loading using Promises
 with https://www.npmjs.com/package/@googlemaps/js-api-loader.
-->
<script async defer
  src='https://maps.googleapis.com/maps/api/js?key={{ .Site.Params.google.map.apikey }}&callback=initMap&v=quarterly'
></script>
