<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
<div class="pa-gallery-player-widget" style="width:90%; height:420px; display:none; margin: 0 auto;"
  data-link="https://photos.google.com/share/AF1QipMydSSy9hqB6acym39rNNRbZXKw9tHp-sfqZP9uLPap4HdjrEnqiJmHsVR3vZJQcg?key=R0dqSEkzSWRTT3NWMFRTVll3QkI0ZU92cjh1cWdn"
  data-title="2022/11/7 八丈島"
  data-description="6 new items added to shared album">
  <object data="https://lh3.googleusercontent.com/pw/AL9nZEU00K_4RDb9H6b14x9TaWrl6Q-PbREYmJEhmYLV55-W3xavzu5uBBFCIQXRSskzlHese-m5VVyL7gklSX2yfh6y498fz3s4z0IdD-hqSyvqEezQOP0=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/AL9nZEUkaM8Yy01tHuB2AjwrTi-WEllpocqYF9FNYVO1AMIoB85Jwb-YrBNuZAm4u27QUMPAxE3z3AZXkU_T5UGLwiUrcg2eLg55w31VWm2PGecDsn22iWo=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/AL9nZEWdyfdSCr5tn5N6o094-Twx4Ph9U8I-kTA7GhuVgQ2pgXgEEuo2vM5f84-aJfb5FoU3UblR-NR0qMbMBIBJvgRMIn5B1_NKA_FgYuazHgh3Cpa8y8A=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/AL9nZEUpoFnTRzdlVSD9gP6wAI95ijJlIcmznQ9BGzqvoL-oZEgEZVQ6XRh372-1A9kgQ0ogVa9mq72pbuJXzAsjLUZHq145ekgzhF6gEENeLOoCWHePuS8=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/AL9nZEU9FVFHI1f7itJOFPVVHjRyRzQ6fI3jtiPxWUxNIvl7m26jtqKNQm_Hm5xIfRLWHphxBuM-n96Wt0xJYZD5D7wH5jVLWiD2hmDlc0AVDK6xR8xPjy0=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/AL9nZEUGJoFWo3bAiBITtE3EK-ku3bFFETmjHr9cyRZLGs_KQkDzxee8tkpUi9KUOxnu_LCbq6wxb7Fi71NPEM7rKhUk1gzhdNzexe-brhHSIA4FN--3GSk=w1920-h1080"></object>
</div>
