<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
<div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none; margin: 0 auto;"
  data-link="https://photos.google.com/share/AF1QipNCSvcwxoNmETL4KfAYDHzlZMWYUgUOo7K-y4qugw1_Iu-3UDI3mVWOarbzOWkfdw?key=MXhrb2lBN1g2dXZudmVRbkEwQXRIWkNxRnRxVEFB"
  data-title="2022/11/20 三宅島"
  data-description="12 new items added to shared album">
  <object data="https://lh3.googleusercontent.com/9u-QhPR_F-BSjxRNKXHdi1P6UhD-L56OmjW9zwNxdhj9odAKmFRRsJ8gPZz4BivvXi_J0qTF_MPcWF9bmkgu14rrxlUhL9HFTbH89UqMfeZAXfIG_pCT11jDWJvE-jWyOxG2nMNMcg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/qSStJtuTSOwGI2SxuW-NeeD7kaEh1Bf-uB4uhuWqWjcQ0JptSysR6wteJ6JlxMMG7LFkIL7hlHUACXcFSCkNnsRl0JQcbZiLAxDDxWFMDx0gA0ZoRbrgdLyU-EjaeIE79D57JixWkg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/EyhHOulJbVRPjTuNIQEvPKpjhwgqR7PVZrQB6jrEjfHro0juFlvBSjlSrw2gE3eFK3DR6WO_YGUxud_Z388SK01xSOeqrsE_l56oxJ35qlhvdRmSJ6ojqRm81bL-7XlLSF5GWzhJAg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/82nStySvwd2HgahCeGq_Eq2o7gRl1qX6tQIac9vzHm1iyXosgX-2Np0y8XnxzhiHJ2cvGpk9vHuFlHU6GFV3_uc_RiF2YwH9o455wlmT4pjNK8aUUduiubq3OSBr4u2cnTyTCr1cLg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/NyoTFKw2nQ94ftK8Z0LOYjr8kTmptcnu4ffpM09FeILBqmijQ-fiq-O4ympD-kz9ZQafFR2CDwSfqDt1ckOzOnRs4dyHTuAOdcU1ggIWAYBKseItBfEdv6qBW_r73OtOKouPQhRoqg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/LayaQ5M3xXKdmBNaQbh3qCx7x1CRLMjGa6cnclBY5HZ9KsWwPIN1oODtSrGyeC6wzPrHGOnV9E3aDACtPDfOIJ80lBBU8hiJtmxoKqQFGMR3iaDnOF9Sg6vgVnJLSrrzG3gS0acXig=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/JXvviqrbu7p0mIGPMSM-YLF1ujPFLV3VkJOHU5k0AuuBL0Qmqqpdgvlvrr6WU8W_iqmfA__I2eywyb-jPlXd7NH3WOJycvY9e7W8JD83asbE1ONIFmOMF4i3H9QBGAJDLdRXfrvFzw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/K9gQUPUwiHoVdElVCpC4C84FNPxLWnkTqkko4Jq_Wbl0ia6IYyQma4NGMci8MJ5IwgFjUlB2BMMNP72yuziIRe_88H7BZIINlWmG0aaf-JeSogSDKbVYi3D2leMCUxhzvMyuupj4hw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/XZvHSIHpv3jLxHiQ5oGAZ_tYyooxunpspojGUDlYq4J5UeVSNdaR8L9mHdLVxawVOwU1gV3h4fYIZ_o8v3YpOY2TZxeznOTkehTRjAT5T0MYv7WZ06pgZNKZN-MSObyOgdYQqisTog=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/zcDy1Nlt5IE2Tm2-YtMz8XtiI4F9u0UKPZsPxHSXEWtcgbmLr3WO1lHwMyUkMJf0N_m6VGODjV6tmr-09-9SkRXQj32-bS3O3hux17qMIReq7s_Mgx83hAG6OlpQaImI9heTaE9ZBg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/BT0mx4ALIjmaa8TyERaJ_-SYVi7bJC4EIyc1VpaR87opG2SfqZMMl8Z9wFkCo2ZeSntOihklslEez92FaSmSWjNsoMiKxjsAvR_56w8JzyGWdOw4XCfoze3v_kS59UsYvhMQ6yvmMw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/nOW85TyJG5hbChb-S6VoLlQ3EC365p1K94e4vD3dI_JlzDljv5UB5yN1qPEOEu9g7TL0HakVbjOaoBI-urR8HdTMqDNMVOvgB-OOMyVCI9rHwThsspdyfS5cCVlp4-Nj_ia98zsvdw=w1920-h1080"></object>
</div>
